<body>
    <span class="ring1"></span>
    <span class="ring2"></span>
    <span class="ring3"></span>
    <span class="ring4"></span>

    <div class="container-fluid " >
      <div class="home active">
  <img src="https://st3.depositphotos.com/4320021/33340/v/380/depositphotos_333403152-stock-illustration-ribbon-banner-with-text-quiz.jpg?forcejpeg=true" alt=" quiz logo" class="quiz-img">
  <button mat-raised-button color="accent" (click)="start()" class="start-btn" >Start</button>
      </div>
      <div class="question1">
         <h1>Question 1</h1>
      </div>
 </div>

 
</body>