<body>
    <span class="ring1"></span>
    <span class="ring2"></span>
    <span class="ring3"></span>
    <span class="ring4"></span>



    <div class="container-fluid ">
        <mat-progress-bar mode="determinate" [value]=progressValue class="progress"></mat-progress-bar>
        <div class="home active">
            <img src="https://st3.depositphotos.com/4320021/33340/v/380/depositphotos_333403152-stock-illustration-ribbon-banner-with-text-quiz.jpg?forcejpeg=true"
                alt=" quiz logo" class="quiz-img">
            <button mat-raised-button color="accent" (click)="start()" class="start-btn">Start</button>
            
        </div>

        <div class="question1 questions">
           
            <h1>Which planet has the most moons?</h1>
            <button mat-raised-button class="option" id="saturn" (click)="question2();correctans()"> Saturn</button>
            <button mat-raised-button class="option" id="venus"  (click)="question2()"> Venus</button>
            <button mat-raised-button class="option"  id ="uranus" (click)="question2()"> Uranus</button>
            <button mat-raised-button class="option" id="mars" (click)="question2()"> Mars</button>
        </div>
        <div class="question2 questions">
           
            <h1>How many hearts does an octopus have?</h1>
            
            <button mat-raised-button class="option" (click)="question3()"> 2</button>
            <button mat-raised-button class="option" (click)="question3();correctans()"> 3</button>
            <button mat-raised-button class="option" (click)="question3()">10</button>
            <button mat-raised-button class="option" (click)="question3()">7</button>
            
        </div>
        <div class="question3 questions">
           
            <h1>What is the only continent with land in all four hemispheres?</h1>
            
            <button mat-raised-button class="option" (click)="question4()"> Australia</button>
            <button mat-raised-button class="option" (click)="question4()"> Antartica</button>
            <button mat-raised-button class="option" (click)="question4();correctans()">Africa</button>
            <button mat-raised-button class="option" (click)="question4()">Asia</button>
            
        </div>
        <div class="question4 questions">
           
            <h1>What country drinks the most coffee? </h1>
            
            <button mat-raised-button class="option" (click)="question5()"> Norway</button>
            <button mat-raised-button class="option" (click)="question5()"> Netherland</button>
            <button mat-raised-button class="option" (click)="question5();correctans()">Finland</button>
            <button mat-raised-button class="option" (click)="question5()">South Korea</button>
            
        </div>
        <div class="question5 questions">
           
            <h1>What is the national sport of Japan? </h1>
            
            <button mat-raised-button class="option" (click)="question6()"> cricket</button>
            <button mat-raised-button class="option" (click)="question6();correctans()"> Sumo Wrestling</button>
            <button mat-raised-button class="option" (click)="question6()">Baseball</button>
            <button mat-raised-button class="option" (click)="question6()">Polo</button>
            
        </div>
        <div class="question6 questions">
           
            <h1>What city is known as "The Eternal City"? </h1>
            
            <button mat-raised-button class="option" (click)="question7();correctans()"> Rome</button>
            <button mat-raised-button class="option" (click)="question7()"> Tokyo</button>
            <button mat-raised-button class="option" (click)="question7()">Mexico</button>
            <button mat-raised-button class="option" (click)="question7()">Osaka</button>
            
        </div>
        <div class="question7 questions">
           
            <h1>How many minutes are in a full week? </h1>
            
            <button mat-raised-button class="option" (click)="question8()"> 18070</button>
            <button mat-raised-button class="option" (click)="question8();correctans()"> 10080</button>
            <button mat-raised-button class="option" (click)="question8()">12367</button>
            <button mat-raised-button class="option" (click)="question8()">22678</button>
            
        </div>
        <div class="question8 questions">
           
            <h1>How many dots appear on a pair of dice? </h1>
            
            <button mat-raised-button class="option" (click)="question9()"> 44</button>
            <button mat-raised-button class="option" (click)="question9()"> 46</button>
            <button mat-raised-button class="option" (click)="question9();correctans()">42</button>
            <button mat-raised-button class="option" (click)="question9()">40</button>
            
        </div>
        <div class="question9 questions">
           
            <h1>Where did sushi originate? </h1>
            
            <button mat-raised-button class="option" (click)="question10()"> Japan</button>
            <button mat-raised-button class="option" (click)="question10();correctans()"> China</button>
            <button mat-raised-button class="option" (click)="question10()">Korea</button>
            <button mat-raised-button class="option" (click)="question10()">Malaysia</button>
            
        </div>
        <div class="question10 questions">
           
            <h1>In what country was Elon Musk born? </h1>
            
            <button mat-raised-button class="option" (click)="result()"> Turkey</button>
            <button mat-raised-button class="option" (click)="result()"> United States</button>
            <button mat-raised-button class="option" (click)="correctans(); result()" >South Africa</button>
            <button mat-raised-button class="option" (click)="result()">United Kingdom</button>
            
        </div>
        <div class="winner result">
            <img src="https://www.pngplay.com/wp-content/uploads/8/Winner-Trophy-PNG-Clipart-Background.png" alt="">
            <h1>Congratulations </h1>
            <h1>Correct= {{ans}}</h1>
            <button mat-raised-button (click)="start()" color="accent">Play Again</button>
        </div>
        <div class="loser result">
            <img src="https://cdn.pixabay.com/photo/2020/12/19/02/50/emoji-5843434_1280.png" alt="">
            <h1>Oops! </h1>
            <h1>Try Again</h1>
            <h1>Correct= {{ans}}</h1>
            <button mat-raised-button (click)="start()" color="accent">Play Again</button>
        </div>
    </div>


</body>